/* Custom utility classes */

/* fonts */
.fbig { font-size: 1.4em; }
.fsmall { font-size:  0.8em }
.w300 { font-weight: 300; }
.w400 { font-weight: 400; }
.uppercase { text-transform: uppercase; }

/* text alignment */
.text-center { text-align: center; }

/* text color */
.text-main { color: $main-color}

/* margins */
.m-b-50 { margin-bottom: 50px; }
.m-t-25 { margin-top: 25px; }
.m-t-100 { margin-top:  100px; }
.m-r-5 { margin-right: 5px; }

/* paddings */

/* lists */
.nolist { list-style-type: none; }

/* width */
.wd50 {width: 50% }

@media (max-width: 320px) {
    .fbig { font-size: 1.4em; }
}
